<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <script type="text/javascript" src="//cdn.bootcss.com/vue/2.0.3/vue.js"></script>
  <link rel="stylesheet" href="http://localhost:9000/css/cart.css">
</head>

<body>
  <div id="cart">
    <div class="store" v-for="(v, i) in carts" v-if="carts">
      <div class="top">
        <div class="label" @click="selectAll"></div>
        <div><i><img :src="v.country" alt=""></i>{{v.storeName}}</div>
      </div>
      <div class="main">
        <div class="list">
          <div class="tips" v-if="v.tips">
            <button>满减</button>
            <span>满200元免运费</span>
            <a href="#">去凑单<i></i></a>
          </div>
          <div class="wrap" :class="{ outdate: !value.isStock  }" v-for="(value, index) in v.cartList">
            <div class="label">{{ !value.isStock ? "失效" : '' }}</div>
            <div class="avator"><img :src="value.image" alt=""></div>
            <div class="content">
              <div class="title">
                <div class="name">
                  {{value.name}}
                </div>
                <div class="right">
                  <div class="price">
                    ￥{{value.price}}
                  </div>
                  <div class="nums">
                    X{{value.nums}}
                  </div>
                </div>
              </div>
              <div>颜色： {{value.color}}</div>
              <div>尺码： {{value.size}}</div>
            </div>
          </div>
        </div>
        <button class="clear_goods">清空失效产品</button>
      </div>
      <div class="footer">
        <div class="label"></div>
        <div class="all">
          全选
        </div>
        <div class="middle">
          <div class="price">
            应付金额：<span>{{totalPrice}}</span>
          </div>
          <div class="totalnums">
            已选{{totalNum}}件商品
          </div>
        </div>
        <div class="pay">
          前往结算
        </div>
      </div>
    </div>
    <div class="hasnogoods" v-else>
      您的购物车没有商品
    </div>
  </div>
  <script>
  const data = [{
    storeName: 'xxx官网',
    country: 'http://searchimg.b0.upaiyun.com/cateOptImg/US@3x.png',
    tips: true,
    cartList: [{
      name: 'xxxx斜挎包就爱睡觉啊看到了就撒大家奥丝蓝黛撒娇了看得见啊',
      price: '1000',
      color: '绿色',
      size: '11-D',
      nums: 2,
      isStock: false,

      image: 'http://st-prod.b0.upaiyun.com/prodimage/62cebcb25994394c.jpg!productmain'
    }, {
      name: 'xxxx斜挎包',
      price: '1000',
      color: '绿色',
      size: '11-D',
      nums: 2,
      isStock: false,

      image: 'http://st-prod.b0.upaiyun.com/prodimage/62cebcb25994394c.jpg!productmain'
    }, {
      name: 'xxxx斜挎包',
      price: '1000',
      color: '绿色',
      size: '11-D',
      nums: 2,
      isStock: true,

      image: 'http://st-prod.b0.upaiyun.com/prodimage/62cebcb25994394c.jpg!productmain'
    }]
  }, {
    storeName: '彪马官网',
    country: 'http://searchimg.b0.upaiyun.com/cateOptImg/US@3x.png',
    tips: true,
    cartList: [{
      name: '1111111111',
      price: '1000',
      color: '绿色',
      size: '11-D',
      nums: 2,
      isStock: false,

      image: 'http://st-prod.b0.upaiyun.com/prodimage/62cebcb25994394c.jpg!productmain'
    }, {
      name: '222222',
      price: '1000',
      color: '绿色',
      size: '11-D',
      nums: 2,
      isStock: false,

      image: 'http://st-prod.b0.upaiyun.com/prodimage/62cebcb25994394c.jpg!productmain'
    }, {
      name: '33333333',
      price: '1000',
      color: '绿色',
      size: '11-D',
      nums: 2,
      isStock: true,

      country: 'http://searchimg.b0.upaiyun.com/cateOptImg/US@3x.png',
      image: 'http://st-prod.b0.upaiyun.com/prodimage/62cebcb25994394c.jpg!productmain'
    }]
  }];
  var cart = new Vue({
    el: '#cart',
    data: {
      carts: data,
      totalPrice: 2000,
      totalNum: 2
    },
    computed: {
      // carts() {
      //   return this.carts.map(function(v) {
      //     return Object.assign({}, v, {
      //       selected: true
      //     })
      //   });
      // }
    },
    methods: {
      selectAll: function() {

      }
    }

  });
  </script>
</body>

</html>
