.avator {
  border-radius: 50%;
  height: 50px;
}

.avator_postion {
  position: relative;
  top: 7px;
  right: 15px;
}

.card-height {
  height: 82px;
  max-height: 82px;
  overflow: hidden;
}

.card-image {
  position: relative;
  img {
    vertical-align: top;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
