// @import "home.less";
// @import "register.less";
// @import "detail.less";


.avator {
  border-radius: 50%;
  height: 50px;
}

.avator_postion {
  position: relative;
  top: 7px;
  right: 15px;
}

.card-height {
  height: 82px;
  max-height: 82px;
  overflow: hidden;
}

.items {
  width: 300px;
  height: 526px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  .card-image {
    width: 300px;
    height: 444px;
  }
}
