<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>my project</title>
  <link rel="stylesheet" href="/lib/materialize.min.css">
  <link rel="stylesheet" href="/lib/notie.css">
  <link rel="stylesheet" href="/css/mix.css">
  <% if (ENV_DEVELOPMENT) { %>
    <script src="http://localhost:35729/livereload.js"></script>
  <% } %>
</head>
<body>
  <header>
    <nav>
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="/">主页</a></li>
          <% if (user) {%>
          <li><a href="/loginout">登出</a></li>
          <% } else { %>
            <li><a href="/login">登入</a></li>
          <% } %>
          <li><a href="/register">注册</a></li>
          <li><a href="/list">文章</a></li>
          <li><a href="/post">发布文章</a></li>
        </ul>
        <% if (user) {%>
        <a class="right brand-logo" href="/user/<%- user._id %>">
          <img class="avator avator_postion" src="https://avatars3.githubusercontent.com/u/12130012?v=3&s=466" alt="" />
        </a>
        <% } %>
      </div>
    </nav>
  </header>
  <div class="container">
