<% include header.html %>
  <%- success %>
  <div>
    <div class="row">
      <% movies.forEach(function(i){ %>
      <div class="col s3">
        <div class="card hoverable">
          <a href="/movies/<%- i._id%>">
            <div class="card-image">
              <img class="responsive-img valign-wrapper" src="<%- i.poster %>">
              <span class="card-title"><%-i.movieName %></span>
            </div>
          </a>
          <div class="card-content card-height">
            <p><%- i.tips %></p>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
<% include footer.html %>
<script type="text/javascript">
  function scrollImage() {
    var imageWidth = $('.card-image').width();
    var scale = 1.48;
    $('.card-image').height(scale * imageWidth);
  }

  // $(window).resize(scrollImage);
</script>
