<% include header.html %>
  <%- success %>
  <div>
    <div class="row">
      <% movies.forEach(function(i){ %>
      <div class="col s2">
        <div class="card">
          <div class="card-image">
            <img src="<%- i.poster %>">
            <span class="card-title"><%-i.movieName %></span>
          </div>
          <div class="card-content">
            <p><%- i.tips %></p>
          </div>
          <div class="card-action">
            <a href="/movies/<%- i._id%>">详情..</a>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
<% include footer.html %>
