<% include header.html %>
  <%- success %>
  <div>
    <div class="row">
      <% movies.forEach(function(i){ %>
      <div class="col s3">
        <div class="card">
          <a href="/movies/<%- i._id%>">
            <div class="card-image">
              <img src="<%- i.poster %>">
              <span class="card-title"><%-i.movieName %></span>
            </div>
          </a>
          <div class="card-content card-height">
            <p><%- i.tips %></p>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
<% include footer.html %>
