<% include header.html %>
  <div class="row">
    <form class="col s12" method="POST">
      <div class="row">
        <div class="input-field col s12">
          <input name="name" id="name" type="text" class="validate">
          <label for="name">姓名</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="password" id="password" type="password" class="validate">
          <label for="password">密码</label>
        </div>
      </div>
      <button class="waves-effect waves-light btn right" type="submit">登录</button>
      <a class="waves-effect waves-light btn right" style="margin-right: 10px;" href="/auth/github">github登录</a>
    </form>
  </div>
<% include footer.html %>
<script type="text/javascript">
  var success = '<%- success %>';
  var error = '<%- error %>';
  if (success) {
    notie.alert(1, 'Success!', 1);
  }
  if (error) {
    notie.alert(2, 'Success!', 1);
  }

</script>
