<% include header.html %>
  <%- err %>
  <%- success %>
  <div class="post">
    <div class="ui breadcrumb">
      <a href="/" class="section">首页</a>
      <div class="divider"> / </div>
      <div class="section active">发表文章</div>
    </div>
    <form method="POST">
        <label for="title">标题</label>
        <input name="title" type="text" id="title">
        <label for="author">作者</label>
        <input name="author" type="text" id="author">
        <label for="content"></label>
        <textarea name="content" id="content" cols="30" rows="10"></textarea>
        <input type="submit">
    </form>
  </div>
<% include footer.html %>
