<% include header.html %>
  <%- error %>
  <%- success %>
  <div class="row">
    <form class="col s12" method="POST">
      <div class="row">
        <div class="input-field col s6">
          <input name="title" id="title" type="text" class="validate">
          <label for="title">标题</label>
        </div>
        <div class="input-field col s6">
          <input name="author" id="author" type="text" class="validate">
          <label for="author">作者</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea" class="materialize-textarea"></textarea>
          <label for="textarea">内容</label>
        </div>
      </div>
      <button class="waves-effect waves-light btn right" type="submit">发布</button>
    </form>
  </div>
<% include footer.html %>
