<% include header.html %>
  <div class="row">
    <form class="col s12" method="POST">
      <div class="row">
        <div class="input-field col s12">
          <input name="name" id="name" type="text" class="validate">
          <label for="name">姓名</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="password" id="password" type="password" class="validate">
          <label for="password">密码</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="repeat_password" id="repeat_password" type="password" class="validate">
          <label for="repeat_password">确认密码</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="mobile" id="mobile" type="text" class="validate">
          <label for="mobile">手机</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="email" id="email" type="email" class="validate">
          <label for="email">邮箱</label>
        </div>
      </div>
      <button class="waves-effect waves-light btn right" type="submit">注册</button>
    </form>
  </div>
<% include footer.html %>
<script type="text/javascript">
  var success = '<%- success %>';
  var error = '<%- error %>';
  if (success) {
    notie.alert(1, 'Success!', 1);
  }
  if (error) {
    notie.alert(2, 'Success!', 1);
  }

</script>
